*{
    box-sizing: border-box;
}

body{
    background-color: hsl(34, 57%, 70%, 0.75);
    /*display: flex;
    align-items: center;
    justify-content: center;*/
}

/* main  */

#options{
   
    background-color: hsl(0, 0%, 100%, 0.6);
    text-align: center;
    margin: auto;
    margin-top: 180px;
    box-shadow: 1px 1px 8px 0 black;
    border-radius: 5px;
    width: 40%;


}

h1{
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 2em;
  color: orange;
}


h4{
  background-color: blanchedalmond;
  position: absolute;
  top: 23%;
  right: 34%;
  padding: 5px 15px;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 8px;
}

h4 span{
  color: white;
  background-color: hsla(0, 0%, 30%, 0.6);
  font-family: sans-serif;
  font-weight: bolder;
  padding: 0 10px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 5px;
}

h3{
    font-family: sans-serif;
    font-weight: bolder;
}

#opt1, #opt2, #opt3, #opt4{
    border: 5px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px ; 
    width: 70%;
    background-color:hsla(33, 100%, 88%, 0.5);
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
    margin-top: 5px;
    margin-left: 18px;
    position: relative;
    left: 0px;
    cursor: pointer;
}


#opt1:hover, #opt2:hover, #opt3:hover, #opt4:hover{
    background-color: lightcyan;
    box-shadow: 1px 1px 8px 0 grey;
}

#next{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#next h5{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.75em;
  margin-left: 10px;
}

#next button{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.85em;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 0 35px;
  color: white;
  background-color: burlywood;
  border-radius: 5px;
  border: none;
}

#next button:hover{
  background-color: hsla(0, 0%, 80%);
  box-shadow: 1px 1px 15px 0 hsla(0, 0%, 0%, 0.5);
}

@keyframes anim{
  from {
    background-color: burlywood;
  }

  25% {
    background-color: cyan;
    box-shadow: 1px 1px 15px 0 hsla(0, 0%, 0%, 0.5);
  }

  50% {
    background-color: burlywood;
  }

  75%{
    background-color: cyan;
    box-shadow: 1px 1px 15px 0 hsla(0, 0%, 0%, 0.5);
  }

  to{
    background-color: burlywood;
  }
}

@keyframes timedivanimation{
  from {
    top: 50%;
    right: 33%;
  }

  to{
    top: 13%;
    right: 30%;
  }
}


/*------------------------feedback arlet animation------------------*/

@keyframes CWpop{
  from {
    top: 48%;
  }

  to{
    top: 5%;
  }
}




.continue, .cancel{
  text-decoration: none;
  border-radius: 30px;
  display: inline-block;
  padding: 6px 12px;
  font-size: 1.5rem;
  color: rgb(102, 102, 102);
  background-color: antiquewhite;
  border: 1px solid  rgb(102, 102, 102);
}

.continue:hover, .cancel:hover{
  color: burlywood;
  background-color: rgb(102, 102, 102);
}

/*modal window*/
.popupoverlay{
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid rgb(102, 102, 102);
  padding: 2rem;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  visibility: hidden;
}

.popupcontent{
  background-color: antiquewhite;
  border: 2px solid  rgb(102, 102, 102);
  border-radius: 15px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  padding: 4rem;
  width: 50%;
  position: absolute;
  left: 25%;
  font-family: sans-serif;
  visibility: hidden;
}

.popupoverlay.active, .popupcontent.active{
  visibility: visible;
}


.correct{
  background-color: lawngreen;
  animation-name: CWpop;
  max-width: 20%;
  max-height: 80%;
  position: absolute;
  top: 5%;
  border-radius: 10px;
  box-shadow: 1px 1px 8px 0 black;
  font-family: sans-serif;
  font-weight:bold;
  font-size: 1em;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  transition:top 5s;
  z-index:-1;
}

.wrong{
  background-color:red;
  max-width: 20%;
  max-height: 80%;
  position: absolute;
  top: 2%;
  border-radius: 10px;
  box-shadow: 1px 1px 8px 0 black;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
  animation-name: CWpop;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  transition: top 5s;
  z-index: -1;
}


<<<<<<< HEAD
=======





>>>>>>> 2d88b0231e21e77e63ac3c3744b5ca83893f11f6
@media only screen and (min-width: 320px) and (max-width: 480px) {
  #options{
    width: fit-content;
}

.fa{
  position: absolute;
  top: 2%;
  left: 85%;
}

h4{
  position: absolute;
  top: 0;
  left: 30%;
  padding-left: 0;
  margin-left: 0;
  box-shadow: 1px 1px 8px 0 black;
}

h4 span{
   padding: 0 10px;
   margin-right: 0;
}

.popupcontent{
  background-color: antiquewhite;
  border: solid 2px rgb(102, 102, 102);
  border-radius: 15px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  padding: 0.8rem;
  width: 50%;
}

.continue, .cancel{
  margin-bottom: 5px;
}

}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  #options{
    width: fit-content;
    font-size: x-large;
}

.fa{
  position: absolute;
  top: 2%;
  left: 85%;
}

h4{
  position: absolute;
  top: 0;
  left: 30%;
  padding-left: 0;
  margin-left: 0;
  box-shadow: 1px 1px 8px 0 black;
}

h4 span{
   padding: 0 10px;
   margin-right: 0;
}

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #options{
    width: fit-content;
    font-size: x-large;
}

.fa{
  position: absolute;
  top: 2%;
  left: 85%;
  font-size: 48px;
}

h4{
  position: absolute;
  top: 0;
  left: 30%;
  padding-left: 0;
  margin-left: 0;
  box-shadow: 1px 1px 8px 0 black;
}

h4 span{
   padding: 0 10px;
   margin-right: 0;
}

}

